.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container {
  width: 30vw;
}

.container ul {
  display: flex;
  flex-direction: column;
}

.container ul button {
  margin: 0.5em 0;
  height: 3.5em;
  background-color: #62b3cc;
  width: 100%;
}

.container ul button:hover {
  box-shadow: 0px 6px 6px #a6a6a6;
  background-color: #437a8a;
}

.container ul button:focus {
  background-color: #1d627d;
}

.collection {
  border: none;
}

.collection .collection-item {
  background-color: initial;
}

.modal-close:hover {
  color: #fff;
  background-color: #437a8a;
}

.red{
  background-color: rgb(155, 22, 22);
}